-var contacts = [{city:'г. Запорожье, ул. Бородинская, 85а', tel: "+38 (067) 6138320"}, {city:'г. Запорожье, ул. Бородинская, 85а', tel: "+38 (067) 6138320"}, {city:'г. Запорожье, ул. Бородинская, 85а', tel: "+38 (067) 6138320"}]

.row
	.footer.clearfix
		a(href="index.html")
			img.footer__logo(src="assets/images/footer__logo.png")
		include ../components/contact_wrapper