mixin CreateMenu__item(items)
	each item, index in items
			a(href="#{item.href}").menu_row__item-card
				img(src="#{item.src}").menu__item-card--media_content.clearfix
				.menu_row__item-card--text_content
					h3.menu_row__item-card--text_content--title #{item.title}
					p.menu_row__item-card--text_content--description #{item.content}