-var slider_content = [{leftImage:'assets/images/ingredients__slider--malt.png',rightImage:'assets/images/ingredients__slider--hops.png',leftCaption:'Cолод',rightCaption:'Хмель'},{leftImage:'assets/images/ingredients__slider--malt.png',rightImage:'assets/images/ingredients__slider--hops.png',leftCaption:'Cолод',rightCaption:'Хмель'},{leftImage:'assets/images/ingredients__slider--malt.png',rightImage:'assets/images/ingredients__slider--hops.png',leftCaption:'Cолод',rightCaption:'Хмель'}]

.main__slider
	ul.main__slider--slides.additional-slider
		each el, i in slider_content
			li.main__slider--slides--slide
				.main__slider--slides--slide_left
					a(href="#")
						img(src="#{el.leftImage}")
						p #{el.leftCaption}
				.main__slider--slides--slide_right
					a(href="#")
						img(src="#{el.rightImage}")
						p #{el.rightCaption}
	