.blog {
	h4{
		text-align: center;
		padding: 55px 0;
		text-transform: uppercase;
		color: #532f2e;
		font-size: 180%;
		font-family: 'pfagoraslabpro-black';
	}
	.row {
		display:flex;
		justify-content: space-between;
		flex-wrap:wrap;
		@import 'post.scss'; 
	}	
}


@media (max-width: 767px) {
	.blog {
		width: 70%;
		margin-left:auto;
		margin-right:auto;
	}
}
@media (max-width: 479px) {
	.blog {
		width: 95%;
		margin-left:auto;
		margin-right:auto;
	}	
}

