.styled {
	background: #3c1813 url(../images/but_icon.png) no-repeat right;
	background-size:contain;
	font-family: 'pfagoraslabpro-reg';
	font-weight: 500;
	letter-spacing:1px;
	color:#edeadb;
	z-index: 1;
	height:39px;
	outline: none;
	border:0;
	padding: 9px 59px 9px 9px;
	position: relative;
	cursor: pointer;
	margin: 0 auto 50px;
	display: block;
	transition:.1s linear all;
	&:hover {
		background: #633e23 url(../images/but_icon.png) no-repeat right;
	}
	
}