.footer {
	padding: 74px 0 93px;
	color:#7f7f7f;
	clear:both;
	.footer__logo {
		float:left;
		margin-right:20px;
		
	}
	
}

@media (max-width:1199px) {
	.footer {
		padding: 20px 0;
		width:95%;
		margin:0 auto;
		
	}
}

@media (max-width:767px) {
	.footer {
		
		width: 95%;
		text-align: center;
		.footer__logo {
			float:none;
			margin:0 0 20px;
			
		}
		
	}
}