.slider_wrapper {
	position: relative;
    background:url('../images/ingredients_container.png')no-repeat center center;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
	height: 470px;
	
	&:before {
	    
	    
	}
}


.main_slider {
	position: relative;
	height:100%;
	.beer {
		position:absolute;
		left:27%;
		
		z-index: 2;
		bottom:0;

	}
	.main_slider__slides {
		height:100%;
		list-style: none;
		padding: 0;
		width: 100%;
		position: relative;
		overflow: hidden;
		.main_slider__slides--slide {
			-webkit-backface-visibility: hidden;
  			position: relative;
  			display: none;	
  			width: 100%;
  			left: 0;
  			top: 0;
  			bottom:0;
  			&:first-child{
				position: relative;
				display: block;
				float: left;
  			}
  			img {
				display: block;
				position: relative;
				z-index: 1;
				height: auto;
				width: 100%;
				border: 0;
			}
  			.main_slider__slides--slide_text_content {
  				position:absolute;
  				width: 400px;
				margin: 15% 20% 15% 50%;
				z-index:3;
				font-family: 'pfagoraslabpro-reg';
				h2 {
					letter-spacing: 4px;
					font-size: 500%;
					color:#fff0c1;
				}
				p {
					color:#f3f3f3;
					text-overflow: ellipsis;
					word-wrap: break-word;
					overflow: hidden;
					max-height: 7.2em;
					line-height: 1.8em;
				}

  			}
  			.main_slider__slides--slide_left,.main_slider__slides--slide_right{
  				width: 150px;
  				height:150px;
  				position:absolute;
  				top:155px;
  				bottom:0;
  				
  				text-align: center;
  				
  				
  				a {
  					text-decoration:none;
  					color:#fff;
  					width: 150px;
  					height:150px;
  					img {
  						margin-bottom:28px;
  						max-width:100%;
  						border: 1px solid transparent;
  						border-radius: 100%;
  						height:100%;

  					}
  				}

  			}
  			.main_slider__slides--slide_left {
  				left:15%;
  				
  			}
  			.main_slider__slides--slide_right{
  				right: 15%;
  			}

		}
	}
	.main_slider__slides_nav {
		position: absolute;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		top: calc(50% - 19px);
		left: 1%;
		opacity: 1;
		z-index: 3;
		text-indent: -9999px;
		overflow: hidden;
		text-decoration: none;
		height: 38px;
		width: 38px;
		background: transparent url(../images/ingredients__slider--controls_left.png) no-repeat left top;
		
	}
	.next {
	    left: auto;
	    background-position: right top;
	    right: 1%;
	    background: transparent url(../images/ingredients__slider--controls_right.png) no-repeat left top;
	}
}

@media (max-width: 1199px){
	.main_slider {
		.beer {
			display: none;
		}
		.main_slider__slides  {
			.main_slider__slides--slide {
				.main_slider__slides--slide_text_content {
					text-align:center;
					 left: 0; 
					  right: 0; 
					  top:0;
					  bottom: 0;
					  margin: auto; 
					height:50%;
					h2{
						font-size: 300%;
					}
				}
			}
		}
	}	
}

@media (max-width: 767px){
	.slider_wrapper {
		background-position:left ;
	}
	.main_slider {
		.main_slider__slides  {
			height:350px;
			.main_slider__slides--slide {
				height:100%;
				img {
					height:100%;
				}
				.main_slider__slides--slide_text_content {
					width:350px;
				}
				.main_slider__slides--slide_left,.main_slider__slides--slide_right{

					a {
						
						&:link {
							background-color: rgba(0,0,0,.3);
						}
						p {
						}

					}
				}
			}
		}
	}
}
@media (max-width: 639px){
	.main_slider {
		.main_slider__slides  {
			height:220px;
			.main_slider__slides--slide {
				.main_slider__slides--slide_text_content {
					height:210px;
					
					p{
						
						font-size: 1.2em;
						line-height:1em;
					}
				}
			}
		}
	}
}

@media (max-width: 479px){
	.main_slider {
		.main_slider__slides  {
			
			.main_slider__slides--slide {
				display:block;
				.main_slider__slides--slide_text_content {
					width:270px;
				}
				.main_slider__slides--slide_left, .main_slider__slides--slide_right{
					position:relative;
					display: block;
					margin:-100px auto 0;
					left:0;
					a {
						img {
							margin-bottom:8px;
						}
					}
				}
				.main_slider__slides--slide_right {
					right:0;
					margin :80px auto 0;
				}
			}
		}
	}
}