

.header {
	font-family: 'pfagoraslabpro-medium';
	
	padding: 24px 0;
	position: relative;
	top:0;
	left:0;
	right:0;
	background:url('../images/nav__background.png') no-repeat center center;
	background-size: 100% 100%;

	.header__slogan {
		display: block;
		margin: 0 auto;
	}
	.wrapper {
		display:flex !important;
		display:-webkit-flex !important;
		justify-content:space-between;

		.header__logo{
			float:left;
			&:hover img{
				opacity:0.9
			}
			img {
				width: 100%;
				height:auto;
			}
		}
		.header__navigation {
			list-style: none;
			
			margin:65px 15px 0;
			
			.header__navigation--element {
				display:inline-flex;
				justify-content:space-between;
				margin:0 7px;
				a {
					color:#404040;
					text-transform: uppercase;
					text-decoration: none;
					transition:.2s linear all;
					&:hover {
						color: #ed1c24;
					}
					&.active {
							color:#ED1C24;
							
						}
				}
			}
		}
		.header__language_picker {
			color:#592017;
			margin-top:65px;
			float: right;
			margin-left: 14px;
			display:block;
			span {
				margin-left:7px;
				select {
					color:#592017;
					margin:-14px 0px 14px 7px;
					padding: 14px;
					border-radius: 5px;
					background-color: transparent;
					border-color: #592017;
				}
			}
		}
	}
}

@media (max-width: 1199px){
	.header {
		height:80px;
		
		padding-top:3px;
		.header__slogan {
			height:auto;
			width:320px;
			text-align:center;
		}
		.wrapper {
			.header__logo {
				position: absolute;
				top:5px;
				
				left:1%;
				width: 100px;
				img {
					width:100%;
				}
			}
			.header__language_picker {
				display: none;
			}
			ul.header__navigation {
				margin: 0 ;
  				padding: 0 5px;
				
  				right:0;
  				top:45px;

  				overflow: hidden;
  				position: absolute;
				z-index: 4;
				background:url('../images/nav__background.png');
  				.header__navigation--element {
  					float: left;
  					display:none;
  					
  					a {

  						display: inline-block;
						text-align: right !important;
						text-decoration: none;
						transition: 0.3s;
						font-size: 17px;
						&:hover {
						}

  					}
  					
  				}
				&.responsive {
  					.header__navigation--element {
	  					float:none;
	  					display:inline;
	  					padding:10px;
	  					a {
	  						display: block;
	  						text-align: left;
	  					}	
  					}
  				}
			}
			@import 'navbar__button';

		}
	}
}

@media (max-width: 480px){
	.header {
		
		.header__slogan {
			display:none;

		}
		.wrapper {
			display:inline;
			.header__logo {
				position:relative;
				margin: 0 auto;
				
			}
		}
	}
}

