.post {
	.heading {
		font-size: 35px;
		color:#fff0c1;
		.styled {
			display: none;
		}
	}
	.content_wrapper {
		margin: 38px auto;
		
		.content_wrapper__heading {
				padding-bottom:26px;
			
			h2 {
				font-size: 24px;
				color:#3c1813;
				font-weight: 600;
				margin-bottom:20px;
			}
			.content_wrapper__heading--post_date {
				font-size: 10px;
				line-height:10px;
				font-weight: 500;
				img {
					vertical-align: text-bottom;
				}
			}
		}
		.content_wrapper__media {
			width: 50%;
			float: left;

			margin-right: 20px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.content_wrapper__text {
			color: #3c1813;
			font-size: 14px;
			font-weight: 600;
			line-height: 24px;
			p + p {
				padding-top: 10px;
			}
		}
	}
}

@media (max-width: 479px) {
	.post {
		.content_wrapper {
			margin: 19px auto;
			.content_wrapper__media {
				width: 100%;
				float:none;
			}
		}
	}
}