
.services_wrapper {
	background: url('../images/services_background.png') no-repeat center center;
	background-size: cover;
	padding-bottom:58px;
}

.services {
	h4 {
		padding: 55px 0;
		text-align: center;
		text-transform: uppercase;
		color: #532f2e;
		font-size: 180%;
		font-family: 'pfagoraslabpro-black';
	}
	.services__row{
		@import 'services__card.scss';
	}
}

@media (max-width: 767px) {
	.services {
		width: 70%;
		margin-left:auto;
		margin-right:auto;
	}
}
@media (max-width: 479px) {
	.services {
		width: 95%;
		margin-left:auto;
		margin-right:auto;
	}	
}