
@font-face {
	font-family: 'pfagoraslabpro-medium';
    src: url('../fonts/pfagoraslabpro-medium.eot') format("eot");
	src: url('../fonts/pfagoraslabpro-medium.ttf') format("truetype");
    src: url('../fonts/pfagoraslabpro-medium.woff') format("woff");
    
}

@font-face {
	font-family: 'pfagoraslabpro-black';
	src: url('../fonts/pfagoraslabpro-black.eot') format("eot");
	src: url('../fonts/pfagoraslabpro-black.ttf') format("truetype");
	src: url('../fonts/pfagoraslabpro-black.woff') format("woff");
}

@font-face {
	font-family: 'pfagoraslabpro-bold';
	src: url('../fonts/pfagoraslabpro-bold.eot') format("eot");
	src: url('../fonts/pfagoraslabpro-bold.ttf') format("truetype");
    src: url('../fonts/pfagoraslabpro-bold.woff') format("woff");
}

@font-face {
	font-family: 'pfagoraslabpro-reg';
    src: url('../fonts/pfagoraslabpro-reg.eot') format("eot");
	src: url('../fonts/pfagoraslabpro-reg.ttf') format("truetype");
    src: url('../fonts/pfagoraslabpro-reg.woff') format("woff");
}

