.header__wrapper
	.row 
		include ../main__slider
		include ../menu_row
.container-fluid.slider_wrapper
	.row
		include ../ingredients_container
.container-fluid.services_wrapper.clearfix
	.row
		include ../services
.container-fluid.blog_wrapper.clearfix
	.row
		include ../blog
	