include card

- var data = [{src:"assets/images/item-tank-1.png",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"},{src:"assets/images/item-tank-2.png",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"},{src:"assets/images/item-tank-3.png",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"},{src:"assets/images/item-tank-4.png",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"},{src:"assets/images/item-tank-1.png",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"},{src:"assets/images/item-tank-2.png",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"},{src:"assets/images/item-tank-3.png",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"},{src:"assets/images/item-tank-4.png",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"}]
		
.row
	.menu_row.equipment
		+CreateMenu__item(data)