-var characteristics = [{key:'Lorem ipsum Pariatur velit nostrud.', value: 100},{key:'Lorem ipsum Pariatur velit nostrud.', value: 140},{key:'Lorem ipsum Pariatur velit nostrud.', value: 150},{key:'Lorem ipsum Pariatur velit nostrud.', value: 120},{key:'Lorem ipsum Pariatur velit nostrud.', value: 1255},{key:'Lorem ipsum Pariatur velit nostrud.', value: 100},{key:'Lorem ipsum Pariatur velit nostrud.', value: 11100},{key:'Lorem ipsum Pariatur velit nostrud.', value: 14500},{key:'Lorem ipsum Pariatur velit nostrud.', value: 100},{key:'Lorem ipsum Pariatur velit nostrud.', value: 5}]
-var description = ['Варочный чан исполнен из пищевой нержавеющей стали марки AISI-304 с высокой степенью полировки (до зеркального блеска). Сварные швы полированы до достаточной степени. Чан имеет рубашку нагрева сусла по всему диаметру варочной ёмкости. Теплоноситель - пищевой пропиленгликоль. Нагрев теплоносителя обеспечивают электрические тэны.Управление нагревом электронное с системой защиты от перегрева и пригорания сусла. Рубашка нагрева теплоизолирована минеральной ватой и накрыта внешней оболочкой из пищевой нержавеющей стали. Чан предназначен для затирания дробины и кипячения сусла с хмелем. Так же может нагревать или кипятить воду для мойки всего оборудования пивоварни.', 'Чан так же исполнен из пищевой нержавеющей стали марки AISI-304 с высокой степенью полировки (до зеркального блеска). Сварные швы полированы до достаточной степени. Чан имеет второе дно из четырёх фильтровальных пластин. Фильтровальные пластины съёмные. Фильтрационный чан теплоизолирован пенополиуретаном и накрыт внешней оболочкой из пищевой нержавеющей стали.', 'Бродильный цех состоит из определенного (на выбор заказчика) количества ЦКТ (цилиндро-конических танков) соответствующей ёмкости. ЦКТ имеют рубашку охлаждения по всей высоте цилиндрической части. По желанию заказчика, конус ЦКТ так же может иметь отдельную рубашку охлаждения. ЦКТ оборудована моющей головкой, нижним краном для слива дрожжевого осадка и моющей жидкости, боковым краном для слива пива, съёмным соединением для термодатчика, выходом для гидрозатвора и задраиваемым герметичным верхним люком.','ЦКТ рассчитаны на внутреннее давление (около 1,5 атм.) и могут использоваться как для первичного брожения, так и для дображивания (карбонизации) пива и подачи свежего пива на пивную колонну для розлива.', 'Для производства лагерного пива или поддержания автономных температурных режимов каждого танка отдельно, ЦКТ могут быть оснащены дополнительной внешней утепляющей оболочкой из нержавеющей стали с пенополиуретановым наполнением.', 'В самом простом случае охлаждение ЦКТ производится проточной холодной водой. Также для охлаждения (или нагрева) возможна циркуляция пропленгликоля по замкнутому контуру через любой теплообменный агрегат.', 'В целях снижения начальной стоимости пивоварни, заказчик может приобрести минимальное количество ЦКТ, а при постепенном наращивании объемов производства, докупить дополнительные.' ]

.row.main_wrapper.clearfix
	h2 Мини-пивоварня на 100 литров для производства верхового или крафтового пива
	.row.wrapper.clearfix
		include equipment__slider
		.equipment_characteristics
			.equipment_characteristics__price
				.equipment_characteristics__price--text-wrapper
					h3.price 9200* USD
					p.note Lorem ipsum Commodo sunt officia nisi dolore veniam sunt eiusmod anim pariatur enim irure sed ut ad anim Duis in deserunt veniam exercitation laboris commodo ad est sunt velit ullamco sint laborum culpa officia.
			.equipment_characteristics__technical
				table
					tbody
						each item, i in characteristics
							tr
								td= item.key
								td= item.value
	.row
		.equipment__description
			each paragraph, i in description
				p= paragraph
	.row 
		.equipment__additional_slider
			include equipment__additional_slider

