-var slider_content = [{src:'assets/images/header__bar_tender.png',heading:'BREWERY',content:'Компания "Arento" занимается производством оборудования для пивоварен. Мы производим пивоваренное оборудование и продаем его по всей Украине и за рубежом'},{src:'assets/images/header__bar_tender.png',heading:'BREWERY',content:'Компания "Arento" занимается производством оборудования для пивоварен. Мы производим пивоваренное оборудование и продаем его по всей Украине и за рубежом'},{src:'assets/images/header__bar_tender.png',heading:'BREWERY',content:'Компания "Arento" занимается производством оборудования для пивоварен. Мы производим пивоваренное оборудование и продаем его по всей Украине и за рубежом'}]


.main_slider
	ul.main_slider__slides.main-slider
		each el, i in slider_content
				li.main_slider__slides--slide
					.main_slider__slides--slide_text_content 
						h2.main_slider__slides--slide_title #{el.heading}
						p.main_slider__slides--slide_description #{el.content}
					img.main_slider__slides--slide_slide(src=el.src)