-var item = {description:['Варочный чан исполнен из пищевой нержавеющей стали марки AISI-304 с высокой степенью полировки (до зеркального блеска). Сварные швы полированы до достаточной степени. Чан имеет рубашку нагрева сусла по всему диаметру варочной ёмкости. Теплоноситель - пищевой пропиленгликоль. Нагрев теплоносителя обеспечивают электрические тэны.Управление нагревом электронное с системой защиты от перегрева и пригорания сусла. Рубашка нагрева теплоизолирована минеральной ватой и накрыта внешней оболочкой из пищевой нержавеющей стали. Чан предназначен для затирания дробины и кипячения сусла с хмелем. Так же может нагревать или кипятить воду для мойки всего оборудования пивоварни.', 'Чан так же исполнен из пищевой нержавеющей стали марки AISI-304 с высокой степенью полировки (до зеркального блеска). Сварные швы полированы до достаточной степени. Чан имеет второе дно из четырёх фильтровальных пластин. Фильтровальные пластины съёмные. Фильтрационный чан теплоизолирован пенополиуретаном и накрыт внешней оболочкой из пищевой нержавеющей стали.', 'Бродильный цех состоит из определенного (на выбор заказчика) количества ЦКТ (цилиндро-конических танков) соответствующей ёмкости. ЦКТ имеют рубашку охлаждения по всей высоте цилиндрической части. По желанию заказчика, конус ЦКТ так же может иметь отдельную рубашку охлаждения. ЦКТ оборудована моющей головкой, нижним краном для слива дрожжевого осадка и моющей жидкости, боковым краном для слива пива, съёмным соединением для термодатчика, выходом для гидрозатвора и задраиваемым герметичным верхним люком.','ЦКТ рассчитаны на внутреннее давление (около 1,5 атм.) и могут использоваться как для первичного брожения, так и для дображивания (карбонизации) пива и подачи свежего пива на пивную колонну для розлива.', 'Для производства лагерного пива или поддержания автономных температурных режимов каждого танка отдельно, ЦКТ могут быть оснащены дополнительной внешней утепляющей оболочкой из нержавеющей стали с пенополиуретановым наполнением.', 'В самом простом случае охлаждение ЦКТ производится проточной холодной водой. Также для охлаждения (или нагрева) возможна циркуляция пропленгликоля по замкнутому контуру через любой теплообменный агрегат.', 'В целях снижения начальной стоимости пивоварни, заказчик может приобрести минимальное количество ЦКТ, а при постепенном наращивании объемов производства, докупить дополнительные.'], enabled: true }

.row.main_wrapper
	h2 Хмель Геркулес (Lorem)
	.wrapper.clearfix
		.equipment_media
			img(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS6q-SvpxqmFmwoqnqZUcESDOTUDs0ORst6zAleFqTufGrrzkignKQLIxCn")
		.equipment_characteristics
			.equipment_characteristics__price.ingredient
				.equipment_characteristics__price--text-wrapper
					h3.price 75 грн./100 г

					if (item.enabled === true)
						p есть в наличии
							span.enabled aa

					else 
						p нет в наличии
							span.disabled aa
			.equipment_characteristics__technical.ingredient
				p.equipment_characteristics__technical--made_by <span>Производитель:</span> Hop Research institute Co, Ltd. Zatec(Чехия)
				ul.equipment_characteristics__technical--hints.clearfix
					li 
						h5 Гарантия на продукцию:
						p На любой приобретаемый у нас товар действует гарантия
					li 
						h5 Быстро доставим:
						p Ваш заказ вы можете получить почтой, транспортными или курьерскими компаниями


					li 
						h5 Удобно платить:
						ul 
							li банковским переводом
							li наличными при получении
							li электронные деньги




				
	.row
		.equipment__description
			each paragraph, i in item.description
				p= paragraph
	