include card
- var data = [{src:"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRRQPCan_VzeqNCejuB_b2Sr6v_U9Tg87GJ4wCL8SJZwSjzCEukTSi9cJE",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"},{src:"https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKF1jj7wioJ4vIF-I-wySqpwCLZyBTJsI8-eMDqefnGTraVTVcHg",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"},{src:"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRcYbuAk1CctoO6vEjOsaYBQ24_o2sMC88V2vX99ou_agTjyK2g",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"},{src:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt06aInHbKL6NwLIP-Kx90M-QjhLcnxEDe8LaehoDz7zuqBNFBHg",title:"BREWHOUSES",content:"Минипивоварня на 100 литров",href:"equipment__item.html"}]

+CreateMenu__item(data)
