doctype html
head
	include partials/head
body
	
	include components/navbar
	include components/pages/home
	include partials/footer

script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js")
script(src="assets/scripts/all.min.js")

	